<div class="filters">
    <p>Filter assets by</p>
    <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select>
            <mat-option>Clear</mat-option>
            <mat-option value="valid">Valid option</mat-option>
            <mat-option value="invalid">Invalid option</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Age</mat-label>
        <mat-select>
            <mat-option>Clear</mat-option>
            <mat-option value="valid">Valid option</mat-option>
            <mat-option value="invalid">Invalid option</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="gender-wrap">
    <div class="report-section cat-2 chart-wrap">
        <div id="ethnicitychart" echarts theme="dark" class="pies" style="min-height: 300px; height: 35rem; width:100%">
        </div>
    </div>
    <div class="report-section cat-1">
        <h2>Most represented  among Asian</h2>
        <div class="img-grid">
            <div class="card span-2 " style="background-image: url(assets/images/girl1.png)"></div>
            <div class="card span-1 " style="background-image: url(assets/images/girl2.png)"></div>
            <div class="card span-2 " style="background-image: url(assets/images/girl3.png)"></div>
            <div class="top-bucket card span-1">
                <p><b>90%</b> of Dove ads include females vs <b>95%</b> of the whole Beauty category</p>
            </div>
            <div class="card span-1 " style="background-image: url(assets/images/girl4.png)"></div>
        </div>
    </div>
    <div class="report-section cat-1">
        <h2>Most represented  among Black</h2>
        <div class="img-grid">
            <div class="card span-2 " style="background-image: url(assets/images/girl1.png)"></div>
            <div class="card span-1 " style="background-image: url(assets/images/girl2.png)"></div>
            <div class="card span-2 " style="background-image: url(assets/images/girl3.png)"></div>
            <div class="top-bucket card span-1">
                <p><b>90%</b> of Dove ads include females vs <b>95%</b> of the whole Beauty category</p>
            </div>
            <div class="card span-1 " style="background-image: url(assets/images/girl4.png)"></div>
        </div>
    </div>
    <div class="report-section cat-1">
        <h2>Most represented  among Indian</h2>
        <div class="img-grid">
            <div class="card span-2 " style="background-image: url(assets/images/girl1.png)"></div>
            <!-- <p>
                                   Rose (33) has 7.5s of screen time
Her face has a maximum screen presence of 19%
and minimum presence of 1%
                            </p> -->
            <div class="card span-1 " style="background-image: url(assets/images/girl2.png)"></div>
            <div class="card span-2 " style="background-image: url(assets/images/girl3.png)"></div>
            <div class="top-bucket card span-1">
                <p><b>90%</b> of Dove ads include females vs <b>95%</b> of the whole Beauty category</p>
            </div>
            <div class="card span-1 " style="background-image: url(assets/images/girl4.png)"></div>
        </div>
    </div>
        <div class="report-section cat-2">
                <h2>Most represented amon Latino</h2>
                <div class="img-grid">
                    <div class="card span-2 " style="background-image: url(assets/images/man1.png)"></div>
                    <div class="card span-1 " style="background-image: url(assets/images/man2.png)"></div>
                    <div class="card span-2 " style="background-image: url(assets/images/man4.png)"></div>
                    <div class="top-bucket card span-1">
                        <p><b>30%</b> of Dove ads include males vs <b>15%</b> of the whole Beauty category</p>
                    </div>
                    <div class="card span-1 " style="background-image: url(assets/images/man3.png)"></div>
                </div>
            </div>
            <div class="report-section cat-2">
                    <h2>Most represented  among Middle Eastern</h2>
                    <div class="img-grid">
                        <div class="card span-2 " style="background-image: url(assets/images/man1.png)"></div>
                        <div class="card span-1 " style="background-image: url(assets/images/man2.png)"></div>
                        <div class="card span-2 " style="background-image: url(assets/images/man4.png)"></div>
                        <div class="top-bucket card span-1">
                            <p><b>30%</b> of Dove ads include males vs <b>15%</b> of the whole Beauty category</p>
                        </div>
                        <div class="card span-1 " style="background-image: url(assets/images/man3.png)"></div>
                    </div>
                </div>
                <div class="report-section cat-2">
                        <h2>Most represented among White</h2>
                        <div class="img-grid">
                            <div class="card span-2 " style="background-image: url(assets/images/man1.png)"></div>
                            <div class="card span-1 " style="background-image: url(assets/images/man2.png)"></div>
                            <div class="card span-2 " style="background-image: url(assets/images/man4.png)"></div>
                            <div class="top-bucket card span-1">
                                <p><b>30%</b> of Dove ads include males vs <b>15%</b> of the whole Beauty category</p>
                            </div>
                            <div class="card span-1 " style="background-image: url(assets/images/man3.png)"></div>
                        </div>
                    </div>
</div>