
 <div class="gender-wrap">
        <div class="cat-1">
                <div id="ethnicitychart" echarts theme="dark" class="pies" style="min-height: 300px; max-height: 300px; width: 500px"></div>
              
                <h2>Ethnicity</h2>
            <div class="img-grid">
                <div class="card span-1 " style="background-image: url(https://unsplash.it/200/200/?random&amp;amp;time=0)">
                </div>
                <div class="card span-1 " style="background-image: url(https://unsplash.it/200/200/?random&amp;amp;time=2)">
                </div>
                <div class="card span-1 " style="background-image: url(https://unsplash.it/200/200/?random&amp;amp;time=3)">
                </div>
                <div class="card span-1 " style="background-image: url(https://unsplash.it/200/200/?random&amp;amp;time=0)">
                </div>
                <div class="card span-1 " style="background-image: url(https://unsplash.it/200/200/?random&amp;amp;time=2)">
                </div>
                <div class="card span-1 " style="background-image: url(https://unsplash.it/200/200/?random&amp;amp;time=3)">
                </div>
                <div class="card span-1 " style="background-image: url(https://unsplash.it/200/200/?random&amp;amp;time=0)">
                </div>
                <div class="card span-1 " style="background-image: url(https://unsplash.it/200/200/?random&amp;amp;time=2)">
                </div>
                <div class="card span-1 " style="background-image: url(https://unsplash.it/200/200/?random&amp;amp;time=3)">
                </div>
                <div class="card span-1 " style="background-image: url(https://unsplash.it/200/200/?random&amp;amp;time=0)">
                </div>
                <div class="card span-1 " style="background-image: url(https://unsplash.it/200/200/?random&amp;amp;time=2)">
                </div>
                <div class="card span-1 " style="background-image: url(https://unsplash.it/200/200/?random&amp;amp;time=3)">
                </div>
            </div> 
        </div>
    
        <div class="cat-2">
            <h2>Ethnicity</h2>
            <div class="img-grid">
                <div class="card span-2 "
                    style="background-image: url(https://unsplash.it/400/400/?random&amp;amp;time=36)"></div>
                <div class="card span-1 "
                    style="background-image: url(https://unsplash.it/200/200/?random&amp;amp;time=37)"></div>
                <div class="card span-1 "
                    style="background-image: url(https://unsplash.it/200/200/?random&amp;amp;time=38)"></div>
                <div class="top-bucket card span-1">
                    <p>90% of the ads include females and only 10% of the ads include males</p>
                </div>
                <div class="card span-1 "
                    style="background-image: url(https://unsplash.it/200/200/?random&amp;amp;time=39)"></div>
    
                <div class="card span-3 "
                    style="background-image: url(https://unsplash.it/400/400/?random&amp;amp;time=36)"></div>
    
                <div class="card span-1 "
                    style="background-image: url(https://unsplash.it/200/200/?random&amp;amp;time=38)"></div>
                <div class="card span-1 "
                    style="background-image: url(https://unsplash.it/200/200/?random&amp;amp;time=39)"></div>
    
            </div>
        </div>
    
      