<div class="filters">
    <p>Filter by</p>
    <mat-form-field>
        <mat-label>Ethnicity</mat-label>
        <mat-select>
            <mat-option>Clear</mat-option>
            <mat-option value="valid">Valid option</mat-option>
            <mat-option value="invalid">Invalid option</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Age</mat-label>
        <mat-select>
            <mat-option>Clear</mat-option>
            <mat-option value="valid">Valid option</mat-option>
            <mat-option value="invalid">Invalid option</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="gender-wrap">
    <div class="report-section cat-2 chart-wrap">
        <div id="genderchart" echarts theme="dark" class="pies" style="min-height: 300px; height: 20rem; width:100%">
        </div>
    </div>
    <div class="report-section cat-1">
        <h2>Most represented Females</h2>
        <div class="img-grid">
                <div class="card span-2 "
                style="background-image: url(assets/images/girl1.png)"></div>
            <div class="card span-1 "
                style="background-image: url(assets/images/girl2.png)"></div>
            <div class="card span-2 "
                style="background-image: url(assets/images/girl3.png)"></div>
            <div class="top-bucket card span-1">
                <p>90% of Dove ads include females compared to 95% of the whole Beauty category</p>
            </div>
            <div class="card span-1 "
                style="background-image: url(assets/images/girl4.png)"></div>
        </div>
    </div>
    <div class="report-section cat-2">
        <h2>Most represented Males</h2>
        <div class="img-grid">
                <div class="card span-2 "
                style="background-image: url(assets/images/girl1.png)"></div>
            <div class="card span-1 "
                style="background-image: url(assets/images/girl2.png)"></div>
            <div class="card span-2 "
                style="background-image: url(assets/images/girl3.png)"></div>
            <div class="top-bucket card span-1">
                <p>30% of Dove ads include males compared to 15% of the whole Beauty category</p>
            </div>
            <div class="card span-1 "
                style="background-image: url(assets/images/girl4.png)"></div>
        </div>
    </div>
</div>