<div class="filters">
    <p>Filter assets by</p>
    <mat-form-field>
        <mat-label>Ethnicity</mat-label>
        <mat-select>
            <mat-option>Clear</mat-option>
            <mat-option value="valid">Valid option</mat-option>
            <mat-option value="invalid">Invalid option</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Age</mat-label>
        <mat-select>
            <mat-option>Clear</mat-option>
            <mat-option value="valid">Valid option</mat-option>
            <mat-option value="invalid">Invalid option</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="gender-wrap">

        <div class="report-section cat-2 chart-wrap wrapper chart-tabs">
                <div class="tabs">
                    <div class="tab">
                        <input type="radio" name="css-tab" id="tab-4" class="tab-switch" checked>
                        <label for="tab-4" class="tab-label">Market</label>
                        <div class="tab-content">
                                <div id="genderchart" echarts theme="dark" class="pies" style="min-height: 300px; height: 20rem; width:100%"></div>
   
                        </div>
                    </div>
                    <div class="tab">
                        <input type="radio" name="css-tab" id="tab-5" class="tab-switch">
                        <label for="tab-5" class="tab-label">Category (Beauty)</label>
                        <div class="tab-content">
                          two
                        </div>
                    </div>
                    <div class="tab">
                            <input type="radio" name="css-tab" id="tab-6" class="tab-switch">
                            <label for="tab-6" class="tab-label">Custom</label>
                            <div class="tab-content">
                                three
                            </div>
                        </div>
                </div>
            </div>


 
        
    <div class="report-section cat-1">
        <h2>Most represented Females</h2>
        <div class="img-grid">
                <div class="card span-2 "
                style="background-image: url(assets/images/girl1.png)"></div>
            <div class="card span-1 "
                style="background-image: url(assets/images/girl6.png)"></div>
            <div class="card span-2 "
                style="background-image: url(assets/images/girl3.png)"></div>
            <div class="top-bucket card span-1">
                <p><b>90%</b> of Dove ads include females vs <b>95%</b> of the whole Beauty category</p>
            </div>
            <div class="card span-1 "
                style="background-image: url(assets/images/girl4.png)"></div>
        </div>
    </div>
    <div class="report-section cat-2">
        <h2>Most represented Males</h2>
        <div class="img-grid">
                <div class="card span-2 "
                style="background-image: url(assets/images/man1.png)"></div>
            <div class="card span-1 "
                style="background-image: url(assets/images/man2.png)"></div>
            <div class="card span-2 "
                style="background-image: url(assets/images/man4.png)"></div>
            <div class="top-bucket card span-1">
                <p><b>30%</b> of Dove ads include males vs <b>15%</b> of the whole Beauty category</p>
            </div>
            <div class="card span-1 "
                style="background-image: url(assets/images/boy5.png)"></div>
        </div>
    </div>
  
</div>


