.gender-wrap {
  display: flex;
}

.top-bucket {
  padding: 1rem;
  flex: 1;
}

.gender-wrap {
  margin: 2rem;
}

.gender-wrap h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 6px;
}

.report-section {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  margin: 0 1rem;
}

.cat-1 {
  animation: catone 1.5s ease;
}

.cat-2 {
  animation: cattwo 1.5s ease;
}

@keyframes catone {
  from {
    top: -10rem;
  }
  to {
    top: 0rem;
  }
}

@keyframes cattwo {
  from {
    bottom: -10rem;
  }
  to {
    bottom: 0rem;
  }
}

.report-nav {
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem 0 0;
}

.report-nav button {
  border: thin solid black;
  margin-left: 0.5rem;
}
