<div class="preferences-wrap">
    <p class="back" [routerLink]="['/settings']"><i class="eva eva-arrow-back-outline"></i> Back</p>
        
        <h1>Add Preferences</h1>
  
  
      <div class="filter-panels">
          <div class="filter-box">
              <p>Brand Name</p>
              <input placeholder="Name">
          </div>
        <div class="filter-box">
          <p>Dimensions</p>
          <div class="filter-wrap">
            <mat-selection-list>
              <mat-list-option checked>Gender </mat-list-option>
              <mat-list-option checked>Age </mat-list-option>
              <mat-list-option checked>Ethnicity </mat-list-option>
            </mat-selection-list>
          </div>
        </div>
        <div class="filter-box">
          <p>Markets</p>
          <div class="filter-wrap">
            <mat-selection-list #markets>
              <mat-list-option *ngFor="let market of typesOfMarkets">
                {{market}}
              </mat-list-option>
            </mat-selection-list>
          </div>
        </div>
        <div class="filter-box">
          <p>Benchmarks</p>
          <div class="filter-wrap">
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
              <!-- This is the tree node template for leaf nodes -->
              <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                <!-- use a disabled button to provide padding for tree leaf -->
                <!-- <button mat-icon-button disabled></button>
                <mat-checkbox [checked]="true" class="example-margin">{{node.name}} </mat-checkbox> -->
                <mat-checkbox class="example-margin">{{node.name}} </mat-checkbox>
              </mat-tree-node>
              <!-- This is the tree node template for expandable nodes -->
              <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                  </mat-icon>
                </button>
                <mat-checkbox class="example-margin">{{node.name}} </mat-checkbox>
              </mat-tree-node>
            </mat-tree>
            <mat-checkbox style="margin-left: 40px;margin-top:11px;">Custom</mat-checkbox>
          </div>
        </div>
      
        <div class="filter-box" style="width: 38rem;">
          <p>Assets</p>
          <div class="filter-wrap">
            <div class="assets-box">
                <i class="eva eva-cloud-upload-outline"></i>
              Select or Drag Assets here
            </div>
            <div class="buttons">
                <button class="add-button" mat-raised-button >Connect to Channel</button>
              </div>
                 <!-- <div class="chips">
                  Instagram: <div>@dove</div>
                 </div> -->
              </div>
        </div>
      </div>
      
      <div class="wrap">
        <button class="visualize-button" mat-raised-button [routerLink]="['/settings']">Save</button>
      </div>

    </div>