.filters{
    display: flex;
    justify-content: center;
    width: 22rem;
    border: thin solid #616161;
    border-radius: 3px;
    margin: 0.5rem auto 1.5rem auto;
    p{
        transform: translateY(15px);
    }
    .mat-form-field{
        margin: 0 0 0 1rem;
        width:6rem;
    }
}

.top-bucket{
    padding: 1rem;
    flex: 1;
    color:#616161;
    b{
        color: white;
    }
}
.gender-wrap{
    margin: 3rem 2rem 2rem 2rem;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    h2{
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
    }
}
.report-section{
    display:flex;
    position: relative;
    width: 20%;
    flex-direction: column;
    margin: 0 6%;
    max-height: 32rem;
}
.cat-1{
    animation: catone 1.5s ease;
}
.cat-2{
    animation: cattwo 1.5s ease;
}
@keyframes catone{
    from {
      top: -10rem
    }
    to {
      top: 0rem;
    }
}
@keyframes cattwo{
    from {
      bottom: -10rem
    }
    to {
      bottom: 0rem;
    }
}





//temp

.report-nav{
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem 0 0;
    button{
        border: thin solid black;
        margin-left: 0.5rem;
    }
}



.report-section{
    display:flex;
    position: relative;
    width: 21%;
    flex-direction: column;
    margin: 0 6%;
    //tabs
    .chart-tabs {
      width: 100%;
      margin: 0 auto;
    }
    .tabs {
      position: relative;
      min-height: 100vh;
      display: flex;
    }
    .tabs::before,
    .tabs::after {
      content: "";
      display: table;
    }
    .tabs::after {
      clear: both;
    }
    .tab-switch {
      display: none;
    }
    .tab-label {
      position: relative;
      display: block;
      cursor: pointer;
      top: 0;
      transition: all 0.25s;
      text-transform: uppercase;
      color: #616161;
      font-size:12px;
      border: 1px solid #616161;
      border-radius: 1rem;
      padding: 0.3rem 0.6rem;
      margin: 0 0.3rem;
    }

    .tab-label:hover {
      top: -0.25rem;
      transition: top 0.25s;
    }
    .tab-content {
      width: 100%;
      position: absolute;
      z-index: 1;
      top: 3rem;
      left: 0;
      padding: 1.618rem;
      opacity: 0;
      transition: all 0.35s;
      border-top: thin solid #616161;
    }
    .tab-switch:checked + .tab-label {
      transition: all 0.35s;
      z-index: 1;
      color:white;
      border: 1px solid white;
    }
    .tab-switch:checked + label + .tab-content {
      z-index: 2;
      opacity: 1;
      transition: all 0.35s;
    }
}

