<!--<div class="filters">-->
<!--        <p>Filter assets by</p>-->
<!--        <mat-form-field>-->
<!--            <mat-label>Gender</mat-label>-->
<!--            <mat-select>-->
<!--                <mat-option>Female</mat-option>-->
<!--                <mat-option>Male</mat-option>-->
<!--            </mat-select>-->
<!--        </mat-form-field>-->
<!--        <mat-form-field>-->
<!--            <mat-label>Age</mat-label>-->
<!--            <mat-select>-->
<!--                <mat-option>18-26</mat-option>-->
<!--            </mat-select>-->
<!--        </mat-form-field>-->
<!--    </div>-->

    <div class="gender-wrap">


            <div class="report-section cat-2 chart-wrap wrapper chart-tabs">
                    <div class="tabs">
                      <div class="tab">
                        <input type="radio" name="css-tab" id="tab-7" class="tab-switch">
                        <label for="tab-7" class="tab-label">Market</label>
                        <div class="tab-content">
                                  <div  id="agechart" echarts theme="dark" class="pies" style="min-height: 300px; height: 35rem; width:100%">
                                    </div>
                        </div>
                      </div>
                      <div class="tab">
                        <input type="radio" name="css-tab" id="tab-8" class="tab-switch" >
                        <label for="tab-8" class="tab-label">Category</label>
                        <div class="tab-content">
                              <app-category-age></app-category-age>
                      </div>
                    </div>
                    <div class="tab">
                      <input type="radio" name="css-tab" id="tab-9" class="tab-switch">
                      <label for="tab-9" class="tab-label">Custom</label>
                      <div class="tab-content">
                            <app-custom-age></app-custom-age>
                      </div>
                    </div>
                  </div>
                </div>




        <div class="report-section cat-1">
                <h2>Most represented in age group 0-9</h2>
                <div class="img-grid">
                        <div class="card span-1 "
                        style="background-image: url(assets/images/girl5.png)"></div>
                    <div class="card span-1 "
                        style="background-image: url(assets/images/girl6.png)"></div>
                    <div class="card span-2 "
                        style="background-image: url(assets/images/girl7.png)"></div>
                    <div class="top-bucket card span-1">
                        <p><b>90%</b> of Dove ads include people above 50 vs <b>95%</b> of the whole category</p>
                    </div>
                    <div class="card span-1 "
                        style="background-image: url(assets/images/girl8.png)"></div>
                </div>
            </div>
                <div class="report-section cat-1">
                  <h2>Most represented in age group 10-19</h2>
                        <div class="img-grid">
                                <div class="card span-1 "
                                style="background-image: url(assets/images/girl9.png)"></div>
                            <div class="card span-1 "
                                style="background-image: url(assets/images/girl2.png)"></div>
                            <div class="card span-2 "
                                style="background-image: url(assets/images/girl3.png)"></div>
                            <div class="top-bucket card span-1">
                                <p><b>90%</b> of Dove ads include include people above 50  <b>95%</b> of the whole Beauty category</p>
                            </div>
                            <div class="card span-1 "
                                style="background-image: url(assets/images/girl10.png)"></div>
                        </div>
                    </div>
        <div class="report-section cat-1">
          <h2>Most represented in age group 20-29</h2>
          <div class="img-grid">
                    <div class="card span-2 "
                    style="background-image: url(assets/images/girl15.png)"></div>
                <div class="card span-1 "
                    style="background-image: url(assets/images/girl12.png)"></div>
                <div class="card span-1"
                    style="background-image: url(assets/images/girl13.png)"></div>
                <div class="top-bucket card span-1">
                    <p><b>90%</b> of Dove ads include females vs <b>95%</b> of the whole Beauty category</p>
                </div>
                <div class="card span-1 "
                    style="background-image: url(assets/images/girl18.png)"></div>
            </div>
        </div>
        <div class="report-section cat-2">
          <h2>Most represented in age group 30-39</h2>
            <div class="img-grid">
                    <div class="card span-2 "
                    style="background-image: url(assets/images/man1.png)"></div>
                <div class="card span-1 "
                    style="background-image: url(assets/images/man2.png)"></div>
                <div class="card span-1"
                    style="background-image: url(assets/images/man4.png)"></div>
                <div class="top-bucket card span-1">
                    <p><b>30%</b> of Dove ads include males vs <b>15%</b> of the whole Beauty category</p>
                </div>
                <div class="card span-1 "
                    style="background-image: url(assets/images/man3.png)"></div>
            </div>
        </div>
      <div class="report-section cat-2">
        <h2>Most represented in age group 40+</h2>
        <div class="img-grid">
          <div class="card span-2 "
               style="background-image: url(assets/images/man1.png)"></div>
          <div class="card span-1 "
               style="background-image: url(assets/images/man2.png)"></div>
          <div class="card span-1"
               style="background-image: url(assets/images/man4.png)"></div>
          <div class="top-bucket card span-1">
            <p><b>30%</b> of Dove ads include males vs <b>15%</b> of the whole Beauty category</p>
          </div>
          <div class="card span-1 "
               style="background-image: url(assets/images/man3.png)"></div>
        </div>
      </div>
    </div>
