.card:nth-child(1) {
  background: #1a535c;
}

.card:nth-child(2) {
  background: #4ecdc4;
}

.card:nth-child(3) {
  background: #bfd7ea;
}

.card:nth-child(4) {
  background: #ff6b6b;
}

.card:nth-child(5) {
  background: #ffe66d;
}
