<h3 mat-dialog-title>Forgotten password?</h3>
<div class="dialog-content" mat-dialog-content>
   <mat-form-field appearance="legacy" class="dialog-form-field">
    <mat-label>Email</mat-label>
    <input matInput [formControl]="email">
    <mat-error>Please enter a valid email</mat-error>
  </mat-form-field>
</div>
<div class="dialog-actions" mat-dialog-actions>
  <button mat-stroked-button color="warn" (click)="onNoClick()">No Thanks</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="data.email" [disabled]="!email.valid">Ok</button>
</div>
