<div class="preferences-wrap">
<h1>Preferences</h1>
    <div class="content-wrap">
       <div class="records">
        <div class="tools">
            <h2>Brands</h2> 
            <details>
                <summary class="add-button" mat-raised-button><i class="eva eva-plus-outline"></i> ADD</summary>
                <div class="content">
                    <h1>ADD Preferences</h1>
                    <label>Brand Name</label>
                    <input placeholder="Name..">
                    <app-start-menu></app-start-menu>
                </div>
            </details>
        </div>
        <div class="row header">
            <div class="cell"></div>
            <div class="cell">Brands</div>
            <div class="cell">Category</div>
            <div class="cell">Markets</div>
            <div class="cell">Benchmark</div>
            <div class="cell">Dimension</div>
            <div class="cell">Assets</div>
        </div>
        <div class="row">
                <div class="cell">        
                    <details>
                        <summary class="update-button"><i class="eva eva-edit-2-outline"></i> Update</summary>
                        <div class="content">
                            <h1>Edit Preferences</h1>
                            <label>Brand Name</label>
                            <input placeholder="DOVE">
                            <app-start-menu></app-start-menu>
                        </div>
                    </details></div>
                <div class="cell">Dove</div>
                <div class="cell">Beauty </div>
                <div class="cell">UK</div>
                <div class="cell">Custom </div>
                <div class="cell">Gender, Age, Ethnicity</div>
                <div class="cell">3,289 </div>
            </div>
        <div class="row">
            <div class="cell">        
                <details>
                    <summary class="update-button"><i class="eva eva-edit-2-outline"></i> Update</summary>
                    <div class="content">
                        <h1>Edit Preferences</h1>
    
                        <label>Brand Name</label>
                        <input placeholder="DOVE">
    
                        <app-start-menu></app-start-menu>
                    </div>
                </details></div>
            <div class="cell">Olay</div>
            <div class="cell">Beauty </div>
            <div class="cell">UK</div>
            <div class="cell">Custom </div>
            <div class="cell">Gender, Age, Ethnicity</div>
            <div class="cell">1,289 </div>
        </div>
    </div>
</div>
</div>