h1 {
  margin: 2rem 0;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.content-wrap .row {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  border-top: #616161 thin solid;
}

.content-wrap .row div {
  flex: 1;
}

.content-wrap .header {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
}
