<h1>Preferences</h1>

<div>
    <div class="content-wrap">
        <div class="header">
            <h2>Brands</h2> <button class="add-button" mat-raised-button>Add Brand</button>
        </div>
        <div class="row header">
            <div>Brands</div>
            <div>Markets</div>
            <div>Assets</div>
            <div>Benchmark</div>
        </div>
        <div class="row">
            <div>Dove</div>
            <div>UK </div>
            <div>3,289 </div>
            <div>Custom </div>
            <details>
                <summary class="add-button start-button" mat-raised-button>Edit</summary>
                <div class="content">
                    <app-start-menu></app-start-menu>
                </div>
            </details>
        </div>
    </div>
</div>