.wrapper{
  position: relative;
  min-height: 100vh;
  width: calc(98% - 4rem);
  max-width: 1920px;
  margin: 0 auto;
    header{
        justify-content: space-between;
        display: flex;
        align-items: center;
        padding: 0;
        border-bottom: thin solid white;
        border-bottom: thin solid #616161;
        .settings{
            width:1.5rem;padding:0 0.5rem 0 0; transform: translateY(2px); cursor: pointer;
        }
        .filters{
          display:flex;
          align-items: center;
          .mat-form-field{
            margin: 0 0 -7px 1.2rem;
            width:5rem;
          }
        }
        p{
              margin: 1rem 0rem 1rem 0 !important;
              text-transform: uppercase;
              cursor: pointer;
              font-weight: 700;
              cursor: pointer;
              border-right: thin solid #333;
              padding-right: 1rem;
              padding: 9px 17px 9px 1px;
            &:hover{
                color:white;
                opacity: 0.6;
            }
            i{
              transform: translate(-1px, 2px);
            }
        }
        .nav{
            button:nth-child(2){
                border-left: none;
                border-right: none;
            }
        }
    }
    .main{
   //     background-image: url("../assets/images/justapic.jpeg");
  // background-image: url("../assets/images/start.jpeg");
        padding-bottom: 2.5rem;
        background-size: cover;
        width: 100%;
        height: calc(100vh - 2.5rem);
        position: relative;
    }

    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;
        padding-left:4rem;
    }  
  }
  ::ng-deep .mat-drawer-container {
    background-color: transparent !important;
  }
  .logout{
    margin:1rem;
    cursor: pointer;
  }
  .menu{
    cursor: pointer;
    font-size: 1.5rem;
  }
  .sideNavigation {
    background: linear-gradient(to bottom, #242629 0%, #111 100%);
    width: 15rem;
    padding: 1rem 0.5rem;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    
    .sidenav {
      overflow-y: scroll;
      padding-bottom: 4rem;
    }
  }


