<app-app-menu *ngIf="showNav" [sideBarWidth]="SIDEBAR_WIDTH"></app-app-menu>
<div [style.padding-left]="showNav ? SIDEBAR_WIDTH : '0'">
  <div class="wrapper">
    <header>
      <div style="width:calc(100% - 24rem);">
        <img [routerLink]="['/summary']" src="assets/images/adeia_logo.svg"
             style="width:6rem; cursor: pointer;transform:translate(2px, 3px)">

        <img [routerLink]="['/summary']" src="assets/images/dove-logo.png"
             style="width:4rem; transform:translate(21px, -6px); cursor: pointer;">
      </div>

      <div class="filters" style="width:22rem;">
        <p [routerLink]="['/media-library']">
          <i class="eva eva-image-outline"></i> Assets Library</p>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select placeholder="Beauty" [(value)]="selected">
            <mat-option value="domain">Beauty</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field floatLabel="always">
          <mat-select placeholder="Market" [(ngModel)]="selectedMarket">
            <mat-option *ngFor="let market of ['US', 'UK']" [value]="market">
              {{market}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <i class="eva eva-more-horizontal-outline"></i>  -->
      </div>

      <div class="app-sidenav-container">
        <mat-sidenav-container *ngIf="showNav">
          <mat-sidenav #sidenav class="sideNavigation" mode="side" position="end" [fixedInViewport]="true">
            <i (click)="sidenav.toggle()" class="eva eva-close-outline"></i>
            <div class="sidenav">
              <div>
                <mat-form-field>
                  <mat-select placeholder="6 months">
                    <mat-option>YTD </mat-option>
                    <mat-option>All time</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field>
                  <mat-select placeholder="Instagram">
                    <mat-option>Instagram </mat-option>
                    <mat-option>All channels</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div (click)="logOut();" class="logout">
                <i class="logout__icon eva eva-log-out-outline"></i>
                Logout
              </div>
            </div>
          </mat-sidenav>

          <mat-sidenav-content>
            <i (click)="sidenav.toggle()" class="eva eva-more-horizontal-outline"></i>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
    </header>

      <div class="main">
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    <footer>
      <!-- <p>© 2021 Publicis Groupe, all rights reserved</p>  -->
    </footer>
  </div>
</div>




