.register-button{
  text-align: center;
  padding: 0.8rem 1.5rem 0.8rem 1rem;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  //  background: #5B34D5 !important;
  width: 9rem;
  margin: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
}
