.options-sidenav {
  padding: 20px;
}

.options-sidenav div {
  padding: 0 0 1rem 0;
}

.options-sidenav div h3 {
  margin: 1.5rem 0 0 0;
  opacity: 0.3;
  font-weight: normal !important;
}

.options-sidenav button {
  width: 100%;
  margin-top: 1rem;
}

.main {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.container h1 {
  font-size: 2rem;
  margin: 2rem 0 0.5rem 0;
}

.container .subtext {
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: initial;
  max-width: 60%;
  margin: 0 auto;
  padding: 1rem;
}

.container .summary-content {
  display: flex;
  max-width: 1440px;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 3rem auto 0 auto;
  flex-wrap: wrap;
}

.container .summary-content .chart-titles {
  text-align: center;
  font-weight: bold;
}

.container .summary-content .chart-box {
  width: 20%;
}

.container .summary-content .chart-box .pies {
  width: 100%;
  height: 15rem;
}

.report-nav {
  width: 100%;
  text-align: center;
}

.report-nav button {
  margin: 0 0.25rem;
}

.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}

.tabs {
  position: relative;
  margin: 3rem 0;
  background: #1abc9c;
  height: 14.75rem;
}

.tabs::before,
.tabs::after {
  content: "";
  display: table;
}

.tabs::after {
  clear: both;
}

.tab {
  float: left;
}

.tab-switch {
  display: none;
}

.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #1abc9c;
  border-right: 0.125rem solid #16a085;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}

.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}

.tab-content {
  height: 12rem;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
}

.tab-switch:checked + .tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}

.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}
