.filters{
  display: flex;
  justify-content: center;
  width: 22rem;

  margin: 0.5rem auto 1.5rem auto;
  p{
    transform: translateY(15px);
  }
  .mat-form-field{
    margin: 0 0 0 1rem;
    width:6rem;
  }
}
.options-sidenav {
  padding: 20px;

  div {
    padding: 0 0 1rem 0;

    h3 {
      margin: 1.5rem 0 0 0;
      opacity: 0.3;
      font-weight: normal !important;
    }
  }

  button {
    width: 100%;
    margin-top: 1rem;
  }
}

.main {
  width: 100%;
  border-bottom: thin solid #616161
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  background: linear-gradient(180deg, rgb(19, 13, 43) 0%, rgba(0, 0, 0, 1) 100%);

  h1 {
    font-size: 2rem;
    margin: 2rem 0 0.8rem 0;
    font-weight: normal !important;
    letter-spacing: 1px;
    font-weight: bold !important;
    text-transform: capitalize;
  }

  .subtext {
    line-height: 1.5rem;
    text-transform: initial;
    max-width: 60%;
    margin: 0 auto;
    padding: 0.5rem;
    color: #ccc;
    font-size: 1.5rem;
  }

  .overview-data {
    display: flex;
    justify-content: center;
    margin: 1rem 1rem 0 1rem;
    border-radius: 3px;

    .summary-content {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0.5rem 0 0;
      flex-wrap: wrap;
      border-right: thin solid #616161;
      .chart-box {
        width: 21rem;

        .pies {
          width: 100%;
          height: 12rem;
        }

        p {
          color: white;
          font-size: 14px;
          font-weight: bold;
          margin: -1rem 0 1rem 0;
        }
      }
    }

    .chart-box-score {
      width: 21rem;
      margin: 0 0 0 0.5rem;
      p{
        font-weight: bold;
      }
      .filters{
        margin-bottom: -2rem;
      }
      .score {
        width: 100%;
        height: 25rem;
      }
    }
  }

  .summary {
    margin-top: -108px;
    width: 33rem;

    p {
      font-size: 12px;
    }
  }
}


.report-nav {
  width: 100%;
  text-align: center;

  button {
    margin: 0 0.25rem;
  }
}


.wrapper {
  width: 100%;
  margin: 0 auto;
}

.tabs {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.tabs::before,
.tabs::after {
  content: "";
  display: table;
}

.tabs::after {
  clear: both;
}

.tab {
  flex: 1;
  text-align: center;
  flex: 1;

  // &:nth-child(2) {
  //   text-align: center;
  // }

  // &:nth-child(3) {
  //   text-align: right;
  // }
}

.tab-switch {
  display: none;
}

.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 2.5em;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
  text-transform: uppercase;
  color: #616161;
  font-size: 1.4rem;
  font-weight: 600;
  border-bottom: thin solid #616161;

  span {
    text-transform: lowercase;
    font-weight: 400;
    opacity: 0.5;
    font-size: 1.2rem;
  }
}

.tab-label:hover {
  transition: top 0.25s;
}

.tab-content {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 6rem;
  left: 0;
  padding: 1.618rem;
  opacity: 0;
  transition: all 0.35s;
}

.tab-switch:checked + .tab-label {
  border-bottom: 0;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid #5B34D5;
  font-style: italic;
}

.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}


.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.sidenav-left {
  width: 56px;
  background: var(--panels);
  overflow: hidden !important;
  border-right: solid 0px var(--panels);

  ::ng-deep .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:#0B0819;
    .top-container, .bottom-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .eva-menu-outline{
        font-size: 22px !important;
        margin-top: 10px;
      }
      .eva-bell-outline, .eva-settings-outline{
        font-size: 22px !important;
        transform: translateY(-5px);
      }
      .mat-mini-fab.mat-accent {
        color: white !important;
        width: 50px;
        height: 50px;
        box-shadow: none;
        border-radius: 0;
      }
      button {
        margin: 5px;
        color: white;
      }
      img {
        width: 2rem;
      }
    }

    .bottom-container {
      padding-bottom: 1rem;
    }
  }
}

.sidenav-clients {
  width: 260px;
  padding: 0.5rem 1rem;
  background: #130d2b;
  border-left: 0.15rem solid var(--borders);

  .dark-button {
    background: transparent !important;
  }
}

.sidenav-full {
  height: 95vh;
  background: var(--background-color);
}

.flex-spacer {
  flex: 1 1 auto;
}

.mt-30 {
  margin-top: 30px;
}


.close-sidenav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border: none;
  background: transparent;

  i {
    color: var(--font-color);
    font-size: 26px;
    margin: -0.5rem -0.5rem -1rem -0.5rem;
  }
}

.sidenav-normal {
  h1 {
    margin: 0 0 0.67em 0;
    color: var(--font-color);
  }
}


.user-button {
  background: #181818;
  width: 46px;
  height: 46px;
  font-weight: bold !important;
  padding: 2px 0;
  letter-spacing: 1px;

  ::ng-deep .mat-button-wrapper {
    border: 1px solid var(--font-color);
    border-radius: 2rem;
    width: 40px;
    height: 40px;
  }
}

.mat-badge-content {
  right: 5px !important;
  top: 4px !important;
  background: var(--primary-accent);
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 300;
  width: 18px;
  height: 18px;
  line-height: 18px;
  color: var(--font-color);
}

.mat-menu-item {
  span {
    margin-left: 0.5rem;
    font-size: 14px;
    font-weight: 500;
  }

  i {
    transform: translateY(1px);
  }
}


.content-inside {
  .stamp {
    text-align: center;
    position: fixed;
    width: 25%;
    top: 40vh;
    left: calc(50% - 6rem);

    img {
      opacity: 0.1;
      width: 12rem;
    }
  }
}


.close-siden {
  color: var(--font-color);
  z-index: 999999;
  height: 1.5em;
  float: right;
  margin-right: -5px;
  padding: 0 0.2rem;
  cursor: pointer;
}
