.client-menu {
  overflow-y: auto;
  height: 80vh;
}

.clients {
  display: flex;
  flex-direction: column;
}

.clients h1 {
  color: var(--tool-accent);
  margin-bottom: 0;
  margin: 0;
}

.clients .client-btns {
  display: flex;
  margin: 0.7rem 0.5rem  0 0;
  justify-content: space-between;
  border-bottom: thin solid var(--borders);
}

.clients .client-btns .secondary-btn {
  padding: 0.2rem 1rem;
}

.clients .client-btns .icon-btn {
  height: auto;
  margin: 3px 0 0 0;
}

.clients .client-btns .icon-btn:hover {
  transform: translateY(-3px);
}

.clients .client-btns .icon-btn img {
  width: 33px;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.example-tree ul:hover,
.example-tree li:hover {
  background: rgba(163, 147, 103, 0.2);
}

.row {
  display: inline-block;
  width: 100%;
  height: 7rem;
  margin-top: -1rem;
}

.mat-tree-node {
  position: relative;
  min-height: 40px;
}

.mat-tree-node .material-icons {
  font-size: 20px;
  color: var(--font-color-lists);
}

.mat-tree-node .node-options {
  position: absolute;
  right: 0;
  color: transparent;
}

.mat-tree-node .node-options .material-icons {
  color: var(--secondary-panel);
}

.mat-tree-node div {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: var(--font-color-lists);
  width: 150px;
}

.mat-tree-node div img {
  margin: 0;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.mat-tree-node div p {
  font-size: 13px;
  margin: 0;
}

.mat-tree-node div:hover {
  color: var(--font-color);
}

.mat-tree-node .eva {
  margin: -2px 5px 0 -31px;
}

.mat-tree-node:hover {
  background: rgba(245, 246, 248, 0);
}

.mat-tree-node:hover .node-options, .mat-tree-node:hover div, .mat-tree-node:hover .material-icons, .mat-tree-node:hover .eva {
  color: var(--font-color) !important;
}

.active .node-options, .active div, .active .material-icons, .active .eva {
  color: var(--font-color);
}

.mat-menu-item span {
  margin-left: 0.5rem;
}

.mat-menu-item i {
  transform: translateY(1px);
  color: var(--tool-accent);
}

.mat-search {
  border: 2px solid var(--primary);
  padding: 0.3rem 0.5rem 0 0.5rem;
  border-radius: 4px;
}

.mat-search .eva-search-outline {
  margin-right: 0.5rem;
}

.mat-search input {
  font-size: 18px !important;
}

.mat-search ::ng-deep .mat-form-field-underline {
  background-color: transparent !important;
}

.mat-search ::ng-deep .mat-form-field-ripple {
  height: 0px;
}

.mat-search ::ng-deep .mat-form-field-wrapper {
  padding-bottom: .5em;
}

.search-button {
  padding: 0.5rem;
  border-radius: 0;
  display: block;
  margin: 0.8rem 0;
  width: 100%;
  font-size: 0.86rem !important;
  border-bottom: thin solid white;
  color: var(--font-color);
  text-transform: none;
  text-align: left;
  font-weight: 400 !important;
  line-height: 2rem;
  height: 40px;
  background: var(--secondary-panel);
}

.search-button .eva {
  color: var(--font-color);
  font-size: 20px;
  transform: translateY(3px);
}

.mat-icon-button {
  margin-left: -6px;
  margin-top: -2px;
  width: 25px;
}
