/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@400;600&family=Noto+Sans:wght@400;700&family=Open+Sans:ital,wght@0,400;0,600;0,800;1,800&family=Roboto+Slab:wght@400;600;700&display=swap');
@import "~eva-icons/style/eva-icons.css";

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background: #000;
    color:white;
}
h1, .mat-h1, .mat-headline, .mat-typography h1{
    font-family:'Open Sans', 'Montserrat Subrayada', sans-serif !important;
    font-weight: 800;
}
h1,h2,h3,h4,h5 {
    font-family:  'Montserrat', 'Noto Sans', sans-serif !important;
    text-transform: uppercase;
    font-weight: bold !important;
}

p, .mat-list-option, .mat-checkbox-label, .mat-body, .mat-body-1, .mat-typography, .mat-mini-fab  {
    font-family: 'Noto Sans', sans-serif !important;
}


button, a{
    cursor: pointer;
    font-family: 'Noto Sans', serif;
}

.mat-raised-button{
    padding: 0.3rem 2rem !important;
    text-transform: uppercase;
    font-size: 13px !important;
    background:black !important;
}
.add-button{
    padding: 0 1rem !important;
    text-transform: uppercase;
    font-size: 13px !important;
    background:black !important;
    border: thin solid #5C4696 !important;
    border: thin solid #333 !important;
    margin-left: 1rem !important;
}

 h3{
     font-weight: 600 !important;
 }
.img-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	grid-gap: 2px;
	grid-auto-rows: min-max(80px, auto);
    grid-auto-flow: dense;
    width: 100%;
    .card {
        min-height: 100px; background-size: cover; background-position: 50% 50%;
        opacity: 0;
        animation: flicker 3s ease alternate forwards;
        transition: transform 0.1s;
        position: relative;
        &:hover{
            transform: scale(1.15);
            z-index: 10;
            border: 2px solid white;
        }
    }
    .span-2 { grid-column-end: span 2; grid-row-end: span 2; min-height: 200px; }
    .span-3 { grid-column-end: span 3; grid-row-end: span 3; min-height: 400px; }
    @keyframes flicker{
        0%{
         opacity: 0;
        }
        100%{
         opacity: 1;
        }
      }
}



  //material stuff
  .mat-button{
      background-color: white;
      color:black !important;
      font-size: 13px;
      text-transform: uppercase;
  }
  .mat-selection-list{
      margin:0
  }
  .mat-list-option{
      text-transform: capitalize;
      font-size: 13px;
  }
  .mat-tree{
      background: transparent;
  }
  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled), .mat-primary,
  .mat-form-field.mat-focused .mat-form-field-label {
      color: #fff !important;
  }
  .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
    background: #fff !important;
}

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0,0,0,.7);
}
