/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto+Slab:wght@400;600;700&display=swap");
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  font-weight: bold !important;
}

h1, h2, h3, h4, h5,
p, .mat-list-option, .mat-checkbox-label {
  font-family: 'Noto Sans', sans-serif !important;
  text-transform: uppercase;
}

button, a {
  cursor: pointer;
  font-family: 'Noto Sans', serif;
}

.mat-raised-button {
  padding: 0.3rem 2rem !important;
  text-transform: uppercase;
  font-size: 13px !important;
  background: black !important;
}

h3 {
  font-weight: 600 !important;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 2px;
  grid-auto-rows: min-max(80px, auto);
  grid-auto-flow: dense;
  width: 100%;
}

.img-grid .card {
  min-height: 100px;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0;
  animation: flicker 3s ease alternate forwards;
  transition: transform 0.1s;
  position: relative;
}

.img-grid .card:hover {
  transform: scale(1.15);
  z-index: 10;
  border: 2px solid white;
}

.img-grid .span-2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
  min-height: 200px;
}

.img-grid .span-3 {
  grid-column-end: span 3;
  grid-row-end: span 3;
  min-height: 400px;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  margin: 0px;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 32px;
}

p {
  font-family: 'Noto Sans', sans-serif;
}

.mat-button {
  background-color: white;
  color: black !important;
  font-size: 13px;
  text-transform: uppercase;
}

.mat-selection-list {
  margin: 0;
}

.mat-list-option {
  text-transform: capitalize;
  font-size: 13px;
}

.mat-tree {
  background: transparent;
}
