.home-wrap {
  display: flex;
  background: black;
  padding-bottom: 2.5rem;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 2.5rem);
  margin-top: -7.7rem;
}

.home-wrap .cover {
  background-image: url("../../assets/images/start-1.jpeg");
  padding-bottom: 2.5rem;
  background-size: cover;
  width: 65%;
  height: 100vh;
  background-repeat: no-repeat;
}

.home-wrap .start {
  position: relative;
  left: -10rem;
  animation: start 1s forwards ease 1s;
}

.home-wrap .start button {
  margin-top: 2rem;
  text-transform: uppercase;
}

.home-wrap .login-side {
  width: 35%;
  display: flex;
  align-items: center;
}

@keyframes headlines {
  from {
    left: 1rem;
  }
  to {
    left: 4rem;
  }
}

@keyframes headliner {
  from {
    font-size: 1rem;
    font-weight: 400;
  }
  to {
    font-size: 3rem;
    font-weight: 500;
  }
}

@keyframes start {
  from {
    left: -8rem;
  }
  to {
    left: 4rem;
  }
}

@keyframes info {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login-form {
  width: 17rem;
  margin: 0 auto;
}

.login-form .mat-form-field {
  margin-top: -1rem;
}

.login-form div {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 1rem 0;
}

.login-form div input {
  width: 90%;
  padding: 0.5rem;
}

.login-form div p {
  font-size: 12px;
  text-align: right;
  margin: -1rem 0.4rem 0 0;
  cursor: pointer;
  padding: 0.3rem 0;
}

.login-form div p:hover {
  text-decoration: underline;
}

.login-form .buttons {
  display: flex;
  flex-direction: row;
  padding: 1rem 0 0 0;
}

.login-form .buttons .start-button {
  text-align: center;
  padding: 0.8rem 1.5rem 0.8rem 1rem;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  background: #5B34D5 !important;
  width: 9rem;
  margin: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
}

.login-form .buttons .register-button {
  text-align: center;
  padding: 0.8rem 1.5rem 0.8rem 1rem;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  width: 9rem;
  margin: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 600;
}

@keyframes blurbinfo {
  from {
    top: -100%;
    opacity: 0;
  }
  to {
    top: 20vh;
    opacity: 1;
  }
}

.intro {
  color: #999;
  text-transform: initial;
  margin-top: 3em;
  text-align: right;
}
