<div class="home-wrap">

    <div class="cover">
        <p style="position:absolute; top:1.5rem; left:1.5rem">--LOGO--</p>
        <div class="login-form">
            <h1>ADEIA</h1>
            <!-- <p class="intro">Because Stellar thought lots of centralised non-fungible token until few wash trade, Silk
                Road slept on a wash trade behind few bear! Decred limited some burned private chain! Since blockchain
                threw away few peer-to-peer network, Binance Coin threw away the constant dolphin after few proof of
                work. </p> -->
            <div>
                <mat-form-field>
                    <input matInput placeholder="Username">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Password">
                </mat-form-field>
                <!-- Pop up start -->
                <!-- <details>
                <summary class="start-button">Start</summary>
                <div class="content">
                    <app-start-menu></app-start-menu>
                </div>
            </details> -->
        </div> 
            <div class="buttons">
                    <button class="register-button" mat-raised-button>Register</button>
                    <button class="start-button" mat-raised-button [routerLink]="['/summary']">Login</button>
            </div>
        </div>
        <!-- <div class="headline">
            <div class="wrap">
                <h2 class="gender">Gender</h2>
                <p class="gender-info">Et harum quidem rerum facilis est et expedita distinctio.</p>
                <h2 class="ethnicity">Ethnicity</h2>
                <p class="ethnicity-info">Et harum quidem rerum facilis est et expedita distinctio.</p>
                <h2 class="age">Age</h2>
                <p class="age-info">Et harum quidem rerum facilis est et expedita distinctio.</p>
            </div>
        </div> -->
    </div>

    <div class="login-side">
        Login
    </div>

</div>