<div class="home-wrap">

    <p style="position:absolute; top:1.5rem; left:1.5rem">--LOGO--</p>
    <div style="position: absolute; right: 3rem; top:10vh">
        <h1>DIVERSITY, EQUITY and INCLUSION</h1>
        <p class="intro">Start - into - page </p>
    </div>
    <div class="headline">

        <div class="wrap">
            <h2 class="gender">Gender</h2>
            <p class="gender-info">Et harum quidem rerum facilis est et expedita distinctio.</p>
            <h2 class="ethnicity">Ethnicity</h2>
            <p class="ethnicity-info">Et harum quidem rerum facilis est et expedita distinctio.</p>
            <h2 class="age">Age</h2>
            <p class="age-info">Et harum quidem rerum facilis est et expedita distinctio.</p>
        </div>
    </div>


    <div> <!-- Pop up start -->
        <details>
            <summary class="start-button">Start</summary>
            <div class="content">
                <app-start-menu></app-start-menu>
            </div>
        </details>
    </div> <!-- Pop up end -->

</div>