.home-wrap{
    display:flex;
    background:black;
    padding-bottom: 2.5rem;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 2.5rem);
    margin-top: -7.7rem;

.cover{
  background-image: url("../../assets/images/start-1.jpeg");
  padding-bottom: 2.5rem;
  background-size: cover;
  width: 65%;
  height: 100vh;
  background-repeat: no-repeat;

}
    .start{
        position: relative;
        left:-10rem;
        animation: start 1s forwards ease 1s;
        button{
            margin-top: 2rem;
            text-transform: uppercase;
        }
    }
    .login-side{
      width:35%;
      display:flex;
      align-items: center;
    }
}



@keyframes headlines {
    from {
      left: 1rem;
    }
    to {
      left: 4rem;
    }
  }
@keyframes headliner {
    from {
        font-size: 1rem;
        font-weight: 400;
      }
      to {
        font-size: 3rem;
        font-weight: 500;
      }
}
@keyframes start {
    from {
      left: -8rem;
    }
    to {
      left: 4rem;
    }
}
@keyframes info {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}










  .login-form{
    // position: absolute; right: 3rem; top:20vh;width: 17rem;
    // animation-name: blurbinfo;
    // animation-duration: 2s;
    // animation-timing-function: ease;
    // animation-iteration-count: initial;
    // animation-delay: 0.5s;
    // -webkit-animation-fill-mode: forwards;
    // opacity: 0;
    width: 17rem;
    margin: 0 auto;
    .mat-form-field{
      margin-top: -1rem;
    }
    div{
      display: flex;
      flex-direction: column;
      margin: 2rem 0 1rem 0;
      input{
        width: 90%;
        padding: 0.5rem
      }
      p{
        font-size: 12px;
        text-align: right;
        margin: -1rem 0.4rem 0 0;
        cursor: pointer;
        padding: 0.3rem 0;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  

    .buttons{
      display:flex;
      flex-direction: row;
      padding: 1rem 0 0 0;
      .start-button{
        text-align: center;
        padding: 0.8rem 1.5rem 0.8rem 1rem;
        border-radius: 3px;
        color: white;
        cursor: pointer;
        background: #5B34D5 !important;
        width: 9rem;
        margin: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: 600;
     }
     .register-button{
      text-align: center;
      padding: 0.8rem 1.5rem 0.8rem 1rem;
      border-radius: 3px;
      color: white;
      cursor: pointer;
    //  background: #5B34D5 !important;
      width: 9rem;
      margin: 0.5rem;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: 600;
     }
    }
  }
  @keyframes blurbinfo{
    from {
      top: -100%;
      opacity: 0;
    }
    to {
      top:20vh;
      opacity: 1;;
    }
  }



// Temp stuff
.intro {
  color: #999;
  text-transform: initial;
  margin-top: 3em;
  text-align: right;
}


//   .headline{
//     width: 50vh;
//     display: flex;
//     flex-direction: column;
//     padding-top: 14vh;
//     position: relative;
//     animation: headlines 1s forwards ease;
//     h1{
//         margin-bottom:0.5rem;
//         width:23rem;
//         font-size: 3rem;
//         line-height: 1.3;
//     }
 
//     .wrap{
//         margin-top: 2rem;
//         h2{
//             margin-bottom: 1rem;
//             margin-top: 1.5rem;
//             font-weight: 500;
//             font-size: 1.5rem;
//             text-transform: uppercase;
//             color:black;
//         }
//         p{
//             opacity: 0;
//             color: rgba(0, 0, 0, 1);
//         }
    
//         .gender{
//             animation: headliner 1s ease  1s;
//         }
//         .gender-info{
//             animation: info 1s ease 1s;
//         }
//         .ethnicity{
//             animation: headliner 1s ease 2s;
//         }
//         .ethnicity-info{
//             animation: info 1s ease 2s;
//         }
//         .age{
//             animation: headliner 1s ease 3s;
//         }
//         .age-info{
//             animation: info 1s ease 3s;
//         }
//     }
 
// }