.home-wrap{
    background-image: url("../../assets/images/start.jpeg");
    padding-bottom: 2.5rem;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 2.5rem);
    margin-top: -3.7rem;

    .headline{
        width: 50vh;
        display: flex;
        flex-direction: column;
        padding-top: 14vh;
        position: relative;
        animation: headlines 1s forwards ease;
        h1{
            margin-bottom:0.5rem;
            font-weight: 600;
            width:23rem;
            font-size: 3rem;
            line-height: 1.3;
        }
     
        .wrap{
            margin-top: 2rem;
            h2{
                margin-bottom: 0.8rem;
                margin-top: 1.5rem;
                font-weight: 500;
                font-size: 1rem;
                text-transform: uppercase;
            }
            p{
                opacity: 0;

            }
        
            .gender{
                animation: headliner 1s ease  1s;
            }
            .gender-info{
                animation: info 1s ease 1s;
            }
            .ethnicity{
                animation: headliner 1s ease 2s;
            }
            .ethnicity-info{
                animation: info 1s ease 2s;
            }
            .age{
                animation: headliner 1s ease 3s;
            }
            .age-info{
                animation: info 1s ease 3s;
            }
        }
     
    }
    .start{
        position: relative;
        left:-10rem;
        animation: start 1s forwards ease 1s;
        button{
            margin-top: 2rem;
            text-transform: uppercase;
        }
    }

}



@keyframes headlines {
    from {
      left: 1rem;
    }
    to {
      left: 4rem;
    }
  }
@keyframes headliner {
    from {
        font-size: 1rem;
        font-weight: 400;
      }
      to {
        font-size: 3rem;
        font-weight: 500;
      }
}
@keyframes start {
    from {
      left: -8rem;
    }
    to {
      left: 4rem;
    }
}
@keyframes info {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}



// Temp stuff
.intro {
    color: rgba(0, 0, 0, 0.35);
}





    .start-button{
        text-align: center;
        padding: 0.8rem 1.5rem 0.8rem 1rem;
        border-radius: 3em;
        color: white;
        cursor: pointer;
        background: #242629;
        width: 9rem;
        margin: 2rem 0 0 64px;
        text-transform: uppercase;
        letter-spacing: 8px;
     }

  
  details > .content {
    width: 20em;
    padding: 24px;
    border-radius: 4px;
    position: fixed;
    width: 90%;
    height: 90vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #242629;
    overflow-y: scroll;
    z-index: 3;
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
   
    animation-name: privacymove;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: initial;
   
    text-align: center;
  }
  summary::marker{
      color:transparent;
  }
  details[open] .start-button::after { 
    content: "×"; 
    font-size: 20px;  
    position: fixed; 
    right: 6vh;
    top: 4vh;
    padding: 5pt 10pt;
    z-index: 9;
    color:white;
    animation-name: privacyclose;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: initial;
  }
  details[open] .start-button::before {
    content: '';
    display: block;
    width: 100vw;
    height: 100vh;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1;
  }
  @keyframes privacymove {
    from {
      bottom: -1000%;
    }
    to {
        top: 0;
    }
  }
  @keyframes privacyclose{
    from {
      top: -1000%;
    }
    to {
        top: 8%;
    }
  }


