<div class="home-wrap">

    <div class="cover">
    </div>

    <div class="login-side">
            <div class="login-form">
                    <!-- <h1>ADEIA</h1> -->
                    <img [routerLink]="['/summary']" src="assets/images/adeia_logo.svg" style="width:12rem; padding:0 0 0.5rem 0">
                    <!-- <p class="intro">Because Stellar thought lots of centralised non-fungible token until few wash trade, Silk
                        Road slept on a wash trade behind few bear! Decred limited some burned private chain! Since blockchain
                        threw away few peer-to-peer network, Binance Coin threw away the constant dolphin after few proof of
                        work. </p> -->
                    <div [formGroup]="form">
                        <mat-form-field>
                            <input placeholder="Username" formControlName="username">
                        </mat-form-field>
                        <mat-form-field>
                            <input placeholder="Password" formControlName="username">
                        </mat-form-field>
                        <p>Forgotten password?</p>
                </div>
                    <div class="buttons">
                            <button class="register-button" mat-raised-button>Register</button>
                            <button class="start-button" mat-raised-button [routerLink]="['/summary']">Login</button>
                    </div>
                      <p class="intro">Man braid godard vaporware, tote bag copper mug palo santo venmo. Organic poutine keffiyeh vice craft beer meggings. Portland semiotics tousled lyft yuccie pabst butcher glossier bushwick hexagon letterpress pop-up fingerstache. Blog sartorial irony ethical pug actually scenester PBR&B paleo kinfolk. Vinyl drinking vinegar iPhone, art party occupy biodiesel fingerstache fixie.</p>
                </div>
    </div>

</div>
