h2 {
  color: white;
  text-align: center;
}

.filter-panels {
  display: flex;
  justify-content: center;
  min-height: 20vh;
  flex-wrap: wrap;
}

.filter-panels div {
  margin: 1rem;
}

.filter-panels .filter-box {
  border: thin solid black;
}

.visualize-button {
  background: white !important;
  color: black;
}
