<div class="wrapper">
        <div class="tabs">
            <div class="tab">
                <input type="radio"checked name="css-tabs" id="tab-1" class="tab-switch">
                <label for="tab-1" class="tab-label"><span>by</span> Gender</label>
                <div class="tab-content">
                    <app-gender-summary></app-gender-summary>
                </div>
            </div>
            <div class="tab">
                <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                <label for="tab-2" class="tab-label"><span>by</span> Age</label>
                <div class="tab-content">
                    <app-age-summary></app-age-summary>
                </div>
            </div>
            <div class="tab">
                <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
                <label for="tab-3" class="tab-label"><span>by</span> Ethnicity</label>
                <div class="tab-content">
                    <app-ethnicity-summary></app-ethnicity-summary>
                </div>
            </div>
        </div>
    </div>